button {
    width: 100%;
    margin-bottom: 15px;
}

body {
    margin-top: 20px;
    background-image: url("double-bubble-outline.png");
}

.CodeMirror {
    font-size: 20px;
    border: 1px solid lightslategrey;
    height: auto;
}

.spacer {
    margin-top: 20px;
}

span.problem-link:hover {
    cursor: pointer;
}

span.problem-link {
    text-decoration: darkgray underline;
}